.myContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
  height: max-content;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2em;
}

h1,
#frame {
  justify-self: center;
}

#frame {
  margin: 1em;
}

.frame-container {
  background-color: black;
  display: flex;
  justify-content: center;

  border-radius: 1em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: blue;
  /* width: 10em; */
  height: 10em;
  margin: 0.5em;
  margin-top: 0px;
  padding: 0.5em;
  align-self: center;
}

/* #btn-right {
  justify-self: start;
}

#btn-left {
  justify-self: end;
} */

@media screen and (max-width: 480px) {
  .frame-container {
    margin: 1em auto;
  }

  #btn-left {
    margin-right: 0px;
  }

  .myContainer {
    margin-bottom: 2%;
  }

  #frame {
    max-width: 80%;
    height: auto;
  }

  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
  }
}

@media screen and (min-width: 480px) {
  .myContainer {
    width: max-content;
  }

  .btn {
    width: 10em;
  }
}
