.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 0;
}

.btn {
  background-color: blue;
}

h1,
#frame {
  justify-self: center;
}

#frame {
  max-width: 100%;
}

.btn-container {
  position: relative;
  /* bottom: 10%;
    left: 50%;
    width: 300px; */
  display: flex;
  justify-content: center;
}

.frame-container {
  background-color: black;
  width: 1100px;
  height: 700px;

  display: flex;
  justify-content: center;
  justify-self: center;
}

.btn {
  width: 10em;
  height: 10em;
  margin: 0;
  padding: 0;
  align-self: center;
}

#btn-right {
  justify-self: end;
}

#btn-left {
  justify-self: end;
}
